.hero-section{
    padding: 0;
}

.hero{
    background-image: url("../../assets/img/bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    height: 700px;

    .text{
        font-weight: 400;
        font-size: 20px;
        line-height: 34.3px;
        letter-spacing: 0%;
        vertical-align: middle;
        text-transform: uppercase;
    }

}



  
  .swiper {
    
    width: 100%;
  }
  
  .swiper-slide {
    background: #fff;
  }
  